#  BASIC PYTHON SYNTAX .

  The syntax includes 1.backslash(\) 2.Triple quotes("""...""") 3. String inside the quote 4. Escape Sequence inside the string   5. Formatted output

In [4]:
 print ("Hello \ python")

Hello \ python

 Triple quote is used for  text art , for making document string.

 String inside the quote.

In [5]:
print ("Python's World")

Python's World

 Escape statement inside the string

In [6]:
print ("Hello\n Python")

Hello
 Python

In [7]:
print ("Hello\t Python")

Hello	 Python

In [8]:
print('Python\'s World')

Python's World

In [21]:
 name = "Karan"
 marks = 96.827
 age =  18
print("The name of person is ",name,"marks is ",marks,"Age is ",age)

The name of person is  Karan marks is  96.827 Age is  18

In [20]:
print ( "The name of person is %10s marks is %10.2f age is %10d"%(name, marks, age))

The name of person is      Karan marks is      96.80 age is         18

Formatted Output

In [24]:
print (f"Name is {name} marks is {marks} age is {age}")

Name is Karan marks is 96.827 age is 18

#  PYTHON OPERATORS

TYPES OF OPERATORS 
1. ARITHEMATIC OPERATORS
2. COMPARSION OPERATORS
3. ASSIGNMENT OPERATORS
4. BITWISE OPERATORS
5. LOGICAL OPERATORS
6. MEMORY OPERATORS
7. IDENTITY OPERATORS.

 1. Arithematic Operators

In [26]:
5+5

10

In [27]:
10-5

5

In [28]:
10*2

20

In [30]:
10/3

3.3333333333333335

In [31]:
10%3

1

In [32]:
10//3

3

2. COMPARISION OPERATORS

In [34]:
a=10
b=10
a==b

True

In [36]:
a=10
b=5
a>b

True

In [37]:
a=10
b=5
a<10

False

In [38]:
a=10
b=10
a>= b

True

In [39]:
a=10
b=20
a<=b

True

In [40]:
a=10
b=20
a!=b

True

3. ASSIGNMENT OPERATORS include =,+=,-=,*=,/= etc

AFTER THAT WE LEARNT BITWISE AND LOGICAL OPERATORS

6. MEMORY OPERATORS

In [43]:
str1 = "pythonprogramming"
"a" in str1

True

In [47]:
"z"  not in str1

True

7. IDENTITY OPERATORS

In [48]:
 a=10
 b=10
a==b

True

In [49]:
id(a)

140727548289712

In [50]:
id(b)

140727548289712

In [51]:
a is b

True

In [52]:
x=1.5
y=1.5
x==y

True

In [53]:
id(x)

2377374190672

In [54]:
id(y)

2377374190352

In [55]:
x is y

False